:root {
    --bg-primary : #0F172A; /* Background */
    --bg-card : #1E293B; /* Card background */
    --text-primary : #F8FAFC; /* Text */
    --text-secondary : #94A3B8; /* Secondary text */
    --accent : #3B82F6; /* Buttons, links, important tags */
    --error : #EF4444; /* Error */
    --height-card : 30rem; /* Card height */
}

body {
    background-color: var(--bg-primary);
    /* margin: 0rem; */
    /* padding: 0rem; */
}

button {
    background: none;
    border: none;
    font: inherit; /* Hereda la letra del proyecto */
    outline: none;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--bg-card);
    padding: 1rem 0.1rem;
    margin: 0rem 0rem 1rem; /* Arriba, Horizontal, Inferior */
}

header h1 { color: var(--text-primary); text-align: center; }

header p { color: var(--text-secondary); text-align: center; }

.grid {
    margin: 0.2rem;
    column-count: 2;
}

#store-item {
    background-color: var(--bg-card);
    margin: 0rem 0rem 1rem;
    padding: 0.01rem 0.8rem;
    display: block;
    height: 30rem;
}
#store-item h2 { color: var(--text-primary); }
#store-item p { color: var(--text-secondary); margin: 0.3px 0rem 0rem }
#store-item img { max-height: 300px; max-width: 300px; display:block; margin: auto } /* Convert the image to block so that margin can affect it */
#store-item a {
    padding: 0 0.2rem;
    background-color: var(--accent);
    border-radius: 0.5rem;
    transition: box-shadow 0.35s ease-in-out;
}
#store-item a:hover { cursor: pointer; box-shadow: 0.3rem 0.3rem 0.3rem var(--accent) }